USE [master]
GO
/****** Object:  Database [FXOOX]    Script Date: 10/27/2018 3:10:43 AM ******/
CREATE DATABASE [FXOOX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FXOOX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FXOOX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FXOOX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FXOOX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FXOOX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FXOOX]
GO
USE [FXOOX]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 10/27/2018 3:10:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen](
	[iId_Producto] [bigint] NOT NULL,
	[dPrecio_Compra] [decimal](18, 0) NOT NULL,
	[iCantidad_Almacenada] [bigint] NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[iId_Cliente] [uniqueidentifier] NOT NULL,
	[vNombre_Cliente] [varchar](40) NOT NULL,
	[vApellidoP_Cliente] [varchar](40) NOT NULL,
	[vApellidoM_Cliente] [varchar](40) NOT NULL,
	[iTelefono_Cliente] [bigint] NOT NULL,
	[vCorreo_Cliente] [varchar](50) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[iId_Empleado] [uniqueidentifier] NOT NULL,
	[vNombre_Empleado] [varchar](40) NOT NULL,
	[vApellidoP_Empleado] [varchar](40) NOT NULL,
	[vApellidoM_Empleado] [varchar](40) NOT NULL,
	[vPuesto_Empleado] [varchar](40) NOT NULL,
	[iTelefono_Empleado] [bigint] NOT NULL,
	[vCorreo_Empleado] [varchar](50) NOT NULL,
	[cTurno_Empleado] [char](1) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado_Cuenta]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_Cuenta](
	[vCodigoAcceso] [varchar](69) NOT NULL,
	[iId_Empleado] [uniqueidentifier] NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vCodigoAcceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Header_Factura]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Header_Factura](
	[iId_Venta] [uniqueidentifier] NOT NULL,
	[iId_Cliente] [uniqueidentifier] NOT NULL,
	[iId_Empleado] [uniqueidentifier] NOT NULL,
	[dFecha_Venta] [datetime] NOT NULL,
	[iTotal_Venta] [decimal](18, 0) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[iId_MetodoPago] [tinyint] NOT NULL,
	[vNombre_Pago] [varchar](25) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_MetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago_Factura]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago_Factura](
	[iId_PagoFactura] [uniqueidentifier] NOT NULL,
	[iId_Venta] [uniqueidentifier] NOT NULL,
	[iId_MetodoPago] [tinyint] NOT NULL,
	[iCantidad_Pago] [decimal](18, 0) NOT NULL,
	[vCompañia_Pago] [varchar](25) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_PagoFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Precio_Producto]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Precio_Producto](
	[iId_PrecioProducto] [uniqueidentifier] NOT NULL,
	[iId_Producto] [bigint] NULL,
	[dFecha_Precio] [datetime] NOT NULL,
	[dPrecio_Venta] [decimal](18, 0) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_PrecioProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[iId_Producto] [bigint] NOT NULL,
	[vNombre_Producto] [varchar](25) NOT NULL,
	[iId_Proveedor] [int] NOT NULL,
	[dPeso_Producto] [decimal](18, 0) NOT NULL,
	[vArea_Producto] [varchar](30) NOT NULL,
	[vDescripcion_Producto] [varchar](250) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_Factura]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_Factura](
	[iId_ProductoFactura] [uniqueidentifier] NOT NULL,
	[iId_Venta] [uniqueidentifier] NOT NULL,
	[iId_Producto] [bigint] NOT NULL,
	[iCantidad_Producto] [int] NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_ProductoFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 10/27/2018 3:10:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[iId_Proveedor] [int] NOT NULL,
	[vNombre_Proveedor] [varchar](40) NOT NULL,
	[cStatus] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iId_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
